* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#about-us-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    height: 60vh;
    background: #FAFAFA;
}

#about-us-left{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 128px;
    transform: translateY(-50%);
    width: 40vw;
    gap: 14px;
}

#about-us-title {
    font-size: 22px;
}

#about-us-content {
    line-height: 30px;
    letter-spacing: 1.5px;
    width: 450px;
}

#about-us-right{
    display: flex;
    flex-direction: column;
    margin-top: 50vh;
    width: 40vw;
    height: 40vh;
}

#download-apps {
    display: flex;
    gap: 2%;
}

#download-app-store {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#download-google-play {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#epicure-logo {
    position: absolute;
    top: 50%;
    right: 128px;
    transform: translateY(-50%);
}

