* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rest-page {
    /* width: 100vw; */
    height: 100%;
    display: flex;
    justify-content: center;

}

.all-rest-page-container {  
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top: 2%;
    gap: 5%;
    height: 100vh;
}

#rest-card {
    width: 150px;
    height: 1000px;
}