*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modal-dish-card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
}

.img-card-dish-modal{
    display: flex;
    width: 100%;
    height: 45%;
    object-fit: cover;
    margin-bottom: 24px;
}

.ingredients-card-dish-modal{
    display: flex;
    width: 50%;
    font-size: 14px;
    letter-spacing: 1.97px;
    line-height: 18px;
    margin-bottom: 0px;
}

.price-div-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 50%;
}

.hr-left{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.side-dish-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-side-dish {
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
    text-decoration: none;
    color: black;
    padding: 5px;
}

.changes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.title-changes-dish {
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
    text-decoration: none;
    color: black;
    padding: 5px;
}

.quantity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-title {
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-bottom: 50px;
}

.button-bag-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
}