* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#week-chef-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

#week-chef-title{
    display: flex;
    margin-top: 3%;
    font-size: 20px;
}

#week-chef-all-content{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    gap: 20%;
    justify-content: center;
}

#week-chef-profile {
    display: flex;
    flex-direction: column;
}

#week-chef-img {
    width: 20vw;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

#week-chef-name{
    display: flex;
    align-items: center;    
    width: 15vw;
    height: 5vh;
    background: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-family: Helvetica Neue Bold;

}

#week-chef-text{
    display: flex;
    flex-wrap: wrap;
    width:30%;
    line-height: 40px;
    letter-spacing: 1.25px;
    font-size: 20px;

}

